:root {
  --red: #e60023;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
img {
  width: 100%;
}
.App {
  width: 100%;
  display: grid;
}
.header {
  display: grid;
  grid-template-columns: auto auto 1fr auto;
  align-items: center;
  gap: 0.5rem;
  background-color: white;
  padding: 0.8rem;
}
.logo {
  cursor: pointer;
  padding: 0.7rem;
  border-radius: 50%;
  display: grid;
  width: 50px;
}
.logo:hover {
  background-color: #efefef;
}
.home {
  background-color: black;
  color: white;
  border-radius: 1.5rem;
  padding: 0.8rem 1rem;
  cursor: pointer;
  font-weight: bold;
}
.home a {
  text-decoration: none;
  color: inherit;
}
.search {
  position: relative;
}
.search-icon {
  width: 17px;
  position: absolute;
  top: 16px;
  left: 15px;
}
.search input {
  padding: 0.9rem 2.5rem;
  outline: none;
  font-weight: 500;
  font-size: 1rem;
  border-radius: 1.5rem;
  background-color: #efefef;
  border: none;
  width: 100%;
}
.search input:focus {
  outline: 4px solid #4a85c9bd;
}

.button {
  border-radius: 1.5rem;
  margin: 0px 5px;
  padding: 0.6rem;
  border: none;
  cursor: pointer;
  font-weight: bold;
}
.button:hover,
.search input:hover {
  box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.048);
}
.button.log-in,
.button.save,
.button.submit,
.button.log-out,
.button.post {
  background-color: #e60023;
  color: white;
}
.button.profile {
  display: grid;
  border-radius: 50%;
}
.button.profile img {
  width: 30px;
  border-radius: 50%;
}
.profile-button__container {
  display: grid;
  grid-template-columns: 1fr auto;
}
.pins-container {
  display: grid;
  padding: 1rem;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}
.pins-container a {
  text-decoration: none;
  color: inherit;
  display: grid;
  place-content: start;
  box-shadow: outset 0 0 100px 100px rgba(0, 0, 0, 0.048);
}
.pin,
.created-list__item,
.saved-list__item {
  position: relative;
  cursor: zoom-in;
}
.pin img {
  display: grid;
  border-radius: 1rem;
  width: 100%;
  height: 400px;
  object-fit: cover;
  position: relative;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  height: 95%;
  border-radius: 1rem;
  width: 100%;
  transition: 0.2s ease;
  background-color: rgba(0, 0, 0, 0.336);
}
.pin:hover .overlay,
.created-list__item:hover .overlay,
.saved-list__item:hover .overlay {
  opacity: 1;
}
.created-list__item .overlay,
.saved-list__item .overlay {
  height: 100%;
}
.pin span {
  font-weight: bold;
  padding-left: 0.5rem;
  list-style: none;
}

.pin-detail-wrapper {
  display: grid;
  justify-items: center;
  padding: 1rem;
}
.pin-detail-container {
  display: grid;
  gap: 1rem;
  width: 60vw;
  box-shadow: rgba(0, 0, 0, 0.534) 0px 1px 20px 0px;
  border-radius: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 1rem;
}
.pin-detail__image img {
  border-radius: 2rem;
}
.save {
  display: grid;
  justify-self: right;
}
.pin-detail__descriptions {
  display: grid;
  place-content: start;
  gap: 1rem;
  padding: 1rem;
}
.pin-detail__descriptions__buttons {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
}
.pin-detail__description__uploaded {
  font-weight: normal;
  color: #525252;
}
.modal-wrapper {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  display: grid;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.479);
}
.modal {
  background-color: white;
  border-radius: 1rem;
  display: grid;
  padding: 1rem;
  place-content: start;
  justify-items: center;
  position: relative;
}
.close-modal {
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
  border: none;
  display: grid;
  padding: 0.5rem;
  background: none;
  border-radius: 1rem;
}
.close-modal:hover {
  box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.089);
}
.modal-details {
  padding: 1rem;
  display: grid;
  gap: 1rem;
}
.modal form {
  display: grid;
  gap: 1rem;
}
.modal input {
  padding: 1rem;
  outline: 1px solid rgba(128, 128, 128, 0.342);
  border-radius: 1rem;
  border: none;
}
.modal input:focus {
  outline: 4px solid #4a85c9bd;
}
.modal p {
  font-size: 0.7rem;
  width: 50ch;
}
.modal-details__check {
  font-size: 0.8rem;
  font-weight: bold;
  color: rgba(2, 2, 2, 0.774);
  cursor: pointer;
}
.create-pin__button-on-page {
  padding: 2rem;
  border-radius: 50%;
  display: grid;
  width: 10px;
  height: 10px;
  place-content: center;
  position: fixed;
  right: 20px;
  z-index: 20;
  border: none;
  background: white;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.199);
  bottom: 50px;
  cursor: pointer;
}
.create-pin__button-on-page img {
  width: 20px;
}
.modal-wrapper.create {
  position: fixed;
  place-items: end;
  background: unset;
}
.modal.create {
  right: 120px;
  bottom: 50px;
}
.modal.create a {
  text-decoration: none;
}
.modal-create__button {
  display: grid;
  place-items: center;
  grid-auto-flow: column;
  background: none;
  border: none;
  gap: 1rem;
  cursor: pointer;
  border-radius: 8px;
  padding: 0.2rem 1rem;
}
.modal-create__button:hover {
  box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.1);
}
.modal-create__button span {
  font-size: 1.1rem;
  font-weight: bold;
}
.profile-main {
  display: grid;
  justify-items: center;
  align-content: start;
  padding: 1rem;
  gap: 0.5rem;
}
.profile-main__photo {
  width: 130px;
  border-radius: 50%;
}
.profile-main__title {
  text-transform: capitalize;
}
.profile-main span {
  color: #767676;
  font-weight: 300;
}
.action-bar {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  justify-items: center;
}
.action-bar button {
  border: none;

  background: none;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  padding: 0.5rem 0.1rem;
  border-radius: 0.5rem;
}
.action-bar .active {
  border-bottom: 3.5px solid black;
}
.action-bar .active button:hover {
  background: unset;
}
.action-bar button:hover {
  background: rgba(128, 128, 128, 0.158);
}
.created-pins,
.saved-pins {
  margin-top: 150px;
}
.created-list,
.saved-list {
  display: grid;
  padding: 1rem;
  margin-top: 70px;
  gap: 1rem;
  list-style-type: none;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-items: center;
}
.created-list__item img,
.saved-list__item img {
  display: grid;
  width: 200px;
  height: 200px;
  border-radius: 1rem;
  object-fit: cover;
}
.pin-builder-wrapper {
  background-color: #efefef;
  display: grid;
  height: 100vh;
  align-content: flex-start;
  padding: 2rem;
  justify-content: center;
}
.pin-builder-content {
  padding: 1rem;
  border-radius: 10px;
  background-color: white;
}
.pin-builder-content form {
  display: grid;
  gap: 1rem;
}
.button.post {
  justify-self: right;
}
.pin-builder-content form input,
.pin-builder-content form textarea {
  outline: none;
  font-weight: bolder;
  font-size: 1rem;
  border: none;
  padding: 0.5rem 0.2rem;
  border-bottom: 1px solid #efefef;
}
.pin-builder-content form textarea {
  border: unset;
  resize: vertical;
}
@media only screen and (max-width: 485px) {
  .search {
    display: none;
  }
  .header {
    justify-items: end;
  }
  .headers-button {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .pin-detail-container {
    width: 90vw;
  }
}
